@{
    ViewData["Title"] = "Заказ пиццы";
}
<div id="pizza-list-component">
    <h3>Выберите пиццу</h3>
    <ol>
        <li v-for="p in pizzas">{{p.pizza.name}} - {{p.diameter.diameterValue}}см - {{p.price}}руб.</li>
    </ol>
</div>
@section Scripts
{
    <script src="~/js/VuePizzaListComponent.js"></script>
}
